# Contents of .gitignore

*.exe
*.o
*.obj
*.a
*.d
*.ts
*.exp
*.lib
*.lib.a
*.dll
*.dll.a
*.dll.exp
*.dll.exp.lib
*.xml
*.make
*.cmake
*.json
*.filters
*.vcxproj
*.recipe
*.cbp

msvc_static/
msvc_dynamic/
build_msvc/
hello_qt_autogen/
cmake-build-debug/
**/CMakeFiles/

CMakeCache.txt
CMakeScripts
Makefile